.main
  .main-topbar
    form.main-topbar__form(action="/admin/posts/add", method="GET")
      button.main-topbar__button(type="submit") Add
    form.main-topbar__form(action="/admin/posts/search", method="GET")
      button.main-topbar__button(type="submit") Search
  table.main-menu
    each post in posts
      tr.main-menu-item
        td.main-menu-item__date=post.date
        if post.title
          td.main-menu-item__title= post.title
        else if post.quote
          td.main-menu-item__title= post.quote + '\'s quote.'
        td.main-menu-item__edit Edit
