@import '../../node_modules/normalize.css/normalize.css'
@import './grid'

@font-face
  font-family 'Open Sans Light'
  src url('/fonts/opensans-light.woff') format('woff')
  font-style normal
  font-weight normal

@font-face
  font-family 'Open Sans Regular'
  src url('/fonts/opensans-regular.woff') format('woff')
  font-style normal
  font-weight normal

@font-face
  font-family 'Open Sans Bold'
  src url('/fonts/opensans-bold.woff') format('woff')
  font-style normal
  font-weight normal

*
*::before
*::after
  box-sizing border-box

html
  font-size responsive 14px 17px

body
  color $color-text
  min-width 320px
  overflow-x hidden
  font-family 'Open Sans Regular'

h1
h2
h3
h4
h5
h6
  color $color-heading

a
  &:link
    color $color-primary
  &:visited
    color darken(desaturate($color-primary, 75%), 25%)
  &:active
    color lighten($color-primary, 50%)
  &:hover
    color lighten($color-primary, 25%)

.posts
  padding-bottom 100px

.post
  margin-bottom 5%
  background-color $post-bg
  box-shadow 0 0 30px rgba(black, .1)

.post-body__title span
  margin-top 25px
  display block
  font-size responsive 12px 17px
  font-family 'Open Sans Light'
  line-height 1.7
  font-weight normal

.post-head__picture
  background-size cover
  background-repeat no-repeat
  background-position center center
  min-height 75vh

.post-head__picture_sm
  position relative
  min-height 45vh
  margin 1%

.post-head__picture_lg
  position relative
  min-height 75vh
  margin 1%

.post-head__picture_full
  min-height 100vh
  margin-bottom 1%

.post-head__video
  position relative
  padding-bottom 56.25%
  height 0

.post-head__video iframe
  position absolute
  top 0
  left 0
  width 100%
  height 100%

.post-gallery
  padding 0.5%
  &::after
    display block
    content ''
    clear both

.post-head__picture_black
  &::after
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color rgba(black, .8)
    z-index 1

.post-gallery__text
  z-index 2
  position absolute
  top 40%
  left 50%
  transform translateY(-40%) translateX(-50%)
  color #fff
  font-size responsive 50px 78px
  font-family 'Open Sans Light'
  &::after
    position absolute
    bottom 0
    right 50%
    bottom -10%
    transform translateX(50%)
    font-size 24px
    content: 'photos'

.post-body
  position relative
  padding 5% 7%

.post-body__date
  display inline-block

.post-body__date
  font-size responsive 12px 14px
  font-family 'Open Sans Bold'
  color $color-text-active
  margin-bottom 2%

.post-body__title
  display block
  font-size responsive 20px 40px
  font-weight normal
  font-family 'Open Sans Bold'
  margin 0
  border-bottom 2px solid #eeeeee
  padding-bottom 4%
  margin-bottom 5%

.post-body__title_video
  padding-bottom 0
  border-bottom none

.post-body__quote
  margin-top 3%
  color $color-text-active
  &::before
    content '- '

.post-body__text
  line-height 1.6

.post-body__text_quote
  line-height 1.3
  font-style italic
  font-size responsive 20px 40px

.post-body__action
  position absolute
  top 35px
  right -10px
  color #fff
  padding 5px 10px
  background-color $color-primary

.post-body__button
  float left
  font-size responsive 16px 21px
  font-family 'Open Sans Bold'
  color $color-primary
  text-transform uppercase
  text-decoration none
  transition all .2s ease
  &:visited
    color $color-primary
  &:hover
    color lighten($color-primary, 25%)

.post-body__tags
  float right
  font-size 15px
  color $color-text-active
  word-spacing 10px

.post-body__tags_video
  float left

.post-body__footer
  margin-top 5%
  &::after
    clear both
    display block
    content ''

.pagination
  text-align center

.pagination__btn
  color #fff
  text-transform capitalize
  margin-left 10px
  text-decoration none
  display inline-block
  padding 10px 20px
  background-color $color-primary
  color #fff
  transition all .2s ease
  &:first-child
    margin-left 0
  &:link
  &:visited
    color #fff
  &:hover
    background-color lighten($color-primary, 25%)

.navbar
  margin 75px 0

#loadbar
  height 3px
  position fixed
  width 0
  top 0
  left 0
  background-color $color-primary
  z-index 1000
  transition all .5s ease

.navbar-title
  font-size responsive 21px 42px
  margin 0
  padding 0
  color $color-text
  font-style italic

.navbar-menu
  list-style-type none
  margin 0
  padding 0
  text-align right

.navbar-menu li
  display inline-block

.navbar-menu li:first-child .navbar-menu__button
  margin 0 10px 0 0

.navbar-menu li:last-child .navbar-menu__button
  margin 0 0 0 10px

.navbar-menu__button
  font-size responsive 15px 17px
  margin 0 10px
  text-transform uppercase
  text-decoration none
  color $color-text
  display block
  padding 10px 0
  font-family 'Open Sans Bold'
  transition all .2s ease
  &:link
  &:visited
    color $color-text
  &:hover
    box-shadow inset 0 -3px 0 $color-primary

.navbar-menu__button_active
  color $color-text-active
  &:link
  &:visited
    color $color-text-active

.navbar-menu-button
  float right
  display none
  padding 5px 10px
  background-color $color-primary
  color #fff
  border-radius 5px
  box-shadow 0 2px 0 darken($color-primary, 50%)
  position relative
  z-index 1000
  transition all .5s ease
  user-select none
  top 25px
  right 1%
  display block
  cursor pointer
  &::before
    content 'MENU'

.navbar-menu-trigger
  display none
  &:[not]:checked ~ .navbar-menu
    visibility hidden
  &:checked ~ .navbar-menu
    top 0
    visibility visible
  &:checked ~ label .navbar-menu-button
    background-color transparent
    top 17px
    font-size 18px
    font-weight bold
    box-shadow none
    &::before
      content 'X'

+below(700px)

  .post-head__picture
    min-height 35vh

  .post-body__action
    top 10px

  .navbar .col-4
    lost-column 11/12

  .navbar .col-8
    lost-column 1/12

  .navbar
    margin 25px 0

  .navbar-menu-button
    position fixed
    display block

  .navbar-menu
    text-align center
    transition all .2s ease
    z-index 999
    background $color-primary
    width 100%
    height 100%
    position fixed
    top -100%
    right 0

  .navbar-menu li
    display block

  .navbar-menu li:first-child .navbar-menu__button
    margin 0

  .navbar-menu li:last-child .navbar-menu__button
    margin 0

  .navbar-menu__button
    margin 0
    color #fff
    padding 3% 0
    &:hover
      background-color darken($color-primary, 50%)
      box-shadow none
    &:link
    &:visited
      color #fff

  .navbar-menu__button_active
    color lighten($color-primary, 50%)
    &:link
    &:visited
      color lighten($color-primary, 50%)
