body
  background-color $color-bg

.post-archive__title
  font-size responsive 15px 30px
  font-weight normal
  font-family 'Open Sans Regular'
  color #bbb

.post-archive__form
  display block

.post-archive__item
  text-transform uppercase
  padding-bottom 10px
  cursor pointer
  outline none
  box-shadow none
  border none
  background-color transparent
  text-align left
  color $color-text
  font-size responsive 14px 18px
  transition all .2s ease
  &:hover
    color $color-text-active
