.load-bar
  height 4px
  width 100%
  background-color $color-primary

.navbar
  margin 75px 0

.navbar-title
  font-size 42px
  margin 0
  padding 0
  color $color-text
  font-style italic

.navbar-menu
  list-style-type none
  margin 0
  padding 0
  padding-top 8px
  text-align right

.navbar-menu li
  display inline-block

.navbar-menu li:first-child .navbar-menu__button
  margin 0 10px 0 0

.navbar-menu li:last-child .navbar-menu__button
  margin 0 0 0 10px

.navbar-menu__button
  margin 0 10px
  text-transform uppercase
  text-decoration none
  color $color-text
  display block
  padding 10px 0
  font-family 'Open Sans Bold'
  transition all .2s ease
  &:hover
    box-shadow inset 0 -3px 0 $color-primary

.navbar-menu__button_active
  color $color-text-active
