body
  background-color $color-bg

.search-form__label
  display block

.search-form__body
  &::after
    content ''
    clear both
    display block

.search-form__input
.search-form__button
  border none
  outline none
  box-shadow none
  height 50px

.search-form__input
  width calc(90% - 100px)
  float left

.search-form__input
  padding 10px

.search-form__button
  cursor pointer
  color #fff
  text-transform uppercase
  border none
  background-color $color-primary
  width calc(10% + 100px)
  float right
  transition all .2s ease
  &:hover
    background-color lighten($color-primary, 25%)
