.main
  margin-left 18%
  min-height 100vh

// posts panel
.main-topbar
  background-color desaturate(lighten($admin-color-secondary, 14%), 14%)
  margin-left 1%
  box-shadow inset 0 -1px 0 desaturate(lighten($admin-color-secondary, 5%), 5%)

.main-topbar__input
  margin-left 10px
  display inline-block
  vertical-align middle
  border 1px solid desaturate(lighten($admin-color-secondary, 25%), 25%)
  outline none
  background-color desaturate(lighten($admin-color-secondary, 7%), 7%)
  color desaturate(lighten($admin-color-secondary, 50%), 50%)

.main-topbar__button
  user-select none
  vertical-align middle
  background-color transparent
  border none
  color #fff
  text-align center
  padding 15px
  display inline-block
  cursor pointer
  transition all .2s ease
  &:hover
    background-color desaturate(lighten($admin-color-secondary, 17%), 17%)
    box-shadow inset 0 -1px 0 desaturate(lighten($admin-color-secondary, 2%), 2%)

.main-menu
  margin-left 1%
  border-collapse collapse

.main-menu-item
  background-color desaturate(lighten($admin-color-secondary, 7%), 7%)

.main-menu-item__date
.main-menu-item__edit
.main-menu-item__delete
.main-menu-item__title
  transition all .2s ease
  padding 15px
  &:hover
    background-color desaturate(lighten($admin-color-secondary, 9%), 9%)

.main-menu-item__edit
.main-menu-item__delete
.main-menu-item__date
  cursor pointer
  text-align center

.main-menu-item__edit
.main-menu-item__delete
  user-select none
  width 5%

.main-menu-item__date
  width 10%

.main-menu-item__title
  width 70%

.modal-post
  padding 3%
  z-index 999
  position fixed
  top 1%
  left 10%
  right 10%
  bottom 1%
  background-color $admin-color-secondary
  border 1px solid darken($admin-color-secondary, 10%)
  box-shadow 0 0 40px rgba(black, .3)
  &::after
    position fixed
    content ''
    top 0
    right 0
    bottom 0
    left 0
    background-color rgba(black, .0)
    z-index -10

.modal-post_sm
  top 35%
  right 30%
  bottom 35%
  left 30%
  text-align center

.modal-post__exit
  padding 5px 10px
  position absolute
  top 20px
  right 20px
  background-color lighten($admin-color-secondary, 9%)
  font-size 15px
  color lighten($admin-color-secondary, 50%)
  letter-spacing 2px
  cursor pointer

.modal-post__input
.modal-post__textarea
  display block
  width 100%
  border 1px solid lighten($admin-color-secondary, 9%)
  background-color lighten($admin-color-secondary, 5%)
  padding 5px
  color #fff
  &:focus
    outline 2px solid lighten($admin-color-secondary, 25%)

.modal-post__textarea
  max-width 100%
  min-height 200px

.modal-post__label
  display inline-block
  padding 10px 0 5px
  font-size 18px
  color lighten($admin-color-secondary, 25%)

.modal-post__exit
.modal-post__button
.modal-post__button_sm
  user-select none
  transition all .2s ease
  &:hover
    background-color lighten($admin-color-secondary, 18%)
    color lighten($admin-color-secondary, 65%)

.modal-post__button
  margin-top 15px
  cursor pointer
  border none
  background-color lighten($admin-color-secondary, 9%)
  padding 10px 15px
  color lighten($admin-color-secondary, 50%)

.modal-post__button_sm
  display inline-block
  width 35%
  &:nth-child(1)
    margin-left 0
  &:last-child
    margin-left 30px

.modal-post__heading_sm
  text-transform uppercase
  margin-bottom 4%

.modal-post__radio
  display inline-block
  vertical-align middle
  margin 0 10px 0 5px

.modal-post__radio-text
  display inline-block
  text-transform uppercase
  color lighten($admin-color-secondary, 50%)
  font-size 14px
  vertical-align middle

.modal-post_success
  border-color desaturate(darken(#ccff00, 25%), 50%)
.modal-post_failure
  border-color desaturate(darken(#ff0000, 25%), 50%)
