.sidebar
  .sidebar__title Palo Alto
  .menu
    a.menu__button.menu__button_active(href="/admin")
      span Dashboard
    a.menu__button(href="/admin/posts")
      span Articles
    a.menu__button(href="#4")
      span FAQ
  a.sidebar__logout(href="#5")
    span log out
