.load-bar
nav.navbar
  .container
    .col-4
      h1.navbar-title Palo Alto
    .col-8
      ul.navbar-menu
        li
          a.navbar-menu__button.navbar-menu__button_active(href="#1") home
        li
          a.navbar-menu__button(href="#2") about
        li
          a.navbar-menu__button(href="#3") archive
        li
          a.navbar-menu__button(href="#4") contact
        li
          a.navbar-menu__button(href="#5") search
