section.posts
  .container
    each post in posts
      if post.video
        include posts/post_video
      else if post.picture
        include posts/post_picture
      else if post.gallery
        include posts/post_gallery
      else if post.quote
        include posts/post_quote
      else
        include posts/post_default
