body
  background-color $admin-color-secondary

.login
  position absolute
  width 100%
  top 50%
  transform translateY(-50%)
  text-align center

.login__form
  padding 25px
  background-color lighten($admin-color-secondary, 10%)
  margin 0 auto
  min-width 400px
  max-width 400px
  border 1px solid darken($admin-color-secondary, 10%)

.login__labels
  &::after
    content ''
    display block
    clear both

.login__label
  margin-bottom 15px
  display block
  &::after
    content ''
    display block
    clear both

.login__label span
  float left
  color #fff

.login__input
  float right
  color #fff
  background-color lighten($admin-color-secondary, 2.5%)
  border none
  box-shadow none
  outline none
  border 1px solid $admin-color-secondary

.login__buttons
  margin-top 25px
  &::after
    content ''
    display block
    clear both

.login__button
  font-size 14px
  text-transform uppercase
  padding 10px 0
  min-width 150px
  border none
  background-color desaturate(lighten($admin-color-secondary, 25%),15%)
  color #fff
  display inline-block
  text-decoration none
  cursor pointer
  transition all .2s ease
  &:link
  &:visited
    color #fff
  &:hover
    background-color lighten($admin-color-secondary, 35%)
  &:first-child
    float left
  &:last-child
    float right

+below(650px)
  .login__form
    min-width 100px
  .login__button
    min-width 130px
